#footer
  %ul.left
    %li
      = link_to "about", "/about"
    %li
      = link_to "faq", "/faq"
    %li
      =link_to 'contact', ""
    %li.reset_border
      =link_to '@taazr', "http://twitter.com/cottonbot"
  %ul.right
    %li.copy.reset_border
      &copy; 2011 Taazr Corp.
    .clear
  .clear